/* Grand Rapids Housing Commission */

html { 
  background-image: url(../img/paper_fibers.png);
  background-size: 100% auto;
  background-color: transparent;
  z-index: 1;
}
article, body, dd, div, dl, dt, figcaption, figure, form, footer, h1, h2, h3, h4, h5, li, nav, ol, p, section, table, th, td, ul, img, form, fieldset, legend {
  margin: 0;
  padding: 0;
  }
a {
  text-decoration: none;
  }
p {
  margin: 0 0 1em 0;
  }
body {
  margin: 0;
  padding: 0px 20px;
  font-family: 'OpenSansRegular', Tahoma, Arial, sans-serif;
  font-size: .9em;
  }
h1 {
  text-align: center;
  padding: 0;
  font-family: 'Alegreya', georgia, "Times New Roman", serif;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.25em;
  margin: 25px 0 15px 0;
  }

h1 .rightcol {
 float: right;
 clear: left;
 }
h2 {
  text-align: center;
  padding: 0;
  font-family: 'Alegreya', georgia, "Times New Roman", serif;
  font-weight: bold;
  font-size: 1.25em;
  margin: 20px 0 15px 0;
  }
h3 {
  text-align: leftht;
  margin: 0;
  font-family: 'Alegreya', georgia, "Times New Roman", serif;
   font-size: 1.25em;
  }
h4 {
  text-align: left;
  padding: 0;
  font-family: 'Alegreya', georgia, "Times New Roman", serif;
  font-size: 0.95em;
   margin: 0 0 10px 0;
  }
h5 {
  font-family: 'OpenSansRegular', Tahoma, Arial, sans-serif;
  font-weight: normal;
  font-size: 1em;
  color: #BA8E3A;
  padding-bottom: 2px;
  }

.intro {
  font-family: 'OpenSansRegular', tahoma, arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  padding: 0 100px;
  text-align: center;
  }

#wrapper {
  width: 960px;
  margin: 0 auto;
  font-family: 'OpenSansRegular', tahoma, arial, sans-serif;
  font-size: 1em;
  line-height: 1.25em;
  color: black;
  background: white;
  padding: 0;
  overflow: hidden;
  -webkit-box-shadow-left: 6px 0 6px  -6px #394042 , -6px 0 6px  -6px #394042;
  -moz-box-shadow-left: 6px 0 6px  #394042 , -6px 0 6px  #394042;
  box-shadow: 6px 0 6px -6px #394042 , -6px 0 6px -6px #394042;
  z-index: 5;
  }
#content {
  margin: 0 auto;
  }

a:link {
  color: #872A0C;
  }
a:visited {
  color: #872A0C;
  }
a:hover {
  color: #394042;
  text-decoration: underline;
  }
a:active {
  color: #872A0C;
  text-decoration: underline;
  }
adow: none;    
}


#secondarynav {
  padding: 5px 10px 5px 720px;
  background: #394042;
  font-family: 'OpenSansRegular', tahoma, arial, sans-serif;
  font-size: 0.8em;
  z-index: 10;
  }
#secondarynav li {
 display: inline;
 text-decoration: none;
 text-align: center;
 color: white;
 margin: 0;
 padding: 0 30px 0 0;
 }
#secondarynav a {
  color: #ffffff;
  text-decoration: none;
  }
#secondarynav a:visited {
  color: #ffffff;
  text-decoration: none;
  }
#secondarynav a:hover {
  color: #EDDBAC;
  text-decoration: underline;
  }
#secondarynav a:active {
  color: #EDDBAC;
  text-decoration: underline;
  }

#footerhome a:link, #footerabout a:link, #footerprops a:link, #footersec8 a:link, #footerresources a:link, #footerwork a:link {
  color: white;
  }
#footerhome a:visited, #footerabout a:visited, #footerprops a:visited, #footersec8 a:visited, #footerresources a:visited, #footerwork a:visited {
    bottom: 0;
  color: white;
  }
#footerhome a:hover, #footerabout a:hover, #footerprops a:hover, #footersec8 a:hover, #footerresources a:hover, #footerwork a:hover {
  color: #EDDBAC;
  text-decoration: underline;
  }
#footerhome a:active, #footerabout a:active, #footerprops a:active, #footersec a:active, #footerresources a:active, #footerwork a:active {
  color: #EDDBAC;
  text-decoration: underline;
  }
#toppic {
 padding: 0;
 margin: 0;
 -webkit-box-shadow-left: 6px 0 6px  -6px #274257 , -6px 0 6px  -6px #274257;
  -moz-box-shadow-left: 6px 0 6px  -6px #274257, -6px 0 6px  -6px #274257;
  box-shadow: 6px 0 6px  -6px #274257 , -6px 0 6px  -6px #274257;
 z-index: 2;
 }
#footnote {
  font-family: 'OpenSansRegular', tahoma, arial, sans-serif;
  font-size: 0.8em;
  line-height: 1.1em;
  padding: 0;
  margin: -1em 0 0 0;
  }
#footer {
  width: 990px;
  height: auto;
  bottom: 0;
  margin: 0 0 0 -15px;
  background: #394042;
  text-align: center;
  font-size: .8em;
  color: white;
  padding: 1em 0;
  float: left;
  clear: both;
  -webkit-box-shadow-left: 6px 0 6px  -6px #274257 , -6px 0 6px  -6px #274257;
  -moz-box-shadow-left: 6px 0 6px  -6px #274257 , -6px 0 6px  -6px #274257;
  box-shadow: 6px 0 6px  -6px #274257 , -6px 0 6px  -6px #274257;
  }
  
#footer ul {
  font-family: 'OpenSansRegular', tahoma, arial, sans-serif;
  padding: 0 5px 0 22px;
  margin-right: 0;
  color: white;
  }
#footer li {
  display: block;
  margin: 0;
  padding: 0;
  text-align: left;
  }
#footaddress {
  text-align: left;
  margin-left: 20px;
  margin-right: 0;
  float: left;
  font-size: 0.85em;
  }
#footerhome, #footerabout, #footerprops, #footersec8, #footerresources, #footerwork {
  display: block;
  font-size: 0.85em;
  float: left;
  }
#footerabout span a:link, #footerprops span a:link, #footersec8 span a:link, #footerresources span a:link, #footerwork span a:link {
  color: #B3B6B7;
  font-size: .85em;
  }
#footerabout span a:visited, #footerprops span a:visited, #footersec8 span a:visited, #footerresources span a:visited, #footerwork span a:visited {
  color: #B3B6B7;
  font-size: .85em;
  }
#footerabout span a:hover, #footerprops span a:hover, #footersec8 span a:hover, #footerresources span a:hover, #footerwork span a:hover {
  color: #EDDBAC;
  font-size: .85em;
  }
#footerabout span a:active, #footerprops span a:active, #footersec8 span a:active, #footerresources span a:active, #footerwork span a:active {
  color: #EDDBAC;
  font-size: .85em;
  }

.boldtext {
   font-family: 'OpenSans', Tahoma, Arial, sans-serif;
   font-weight: bold;
  font-size: 0.9em;
  line-height: 1.25em;
   }
.boldcenter {
   font-family: 'OpenSans', Tahoma, Arial, sans-serif;
   font-weight: bold;
  font-size: 0.9em;
  text-align: center;
  line-height: 1.25em;
   }

.twocolleft {
  float: left;
  clear: right;
  font-size: .8em;
  width: 425px;
  height: auto;
  margin: 10px 5px 0 20px;
  padding: 0px 20px 10px 10px;

  }
.twocolleft ul {
  list-style-type: square;
  padding: 0 0 0 20px;
  margin: 0 0 1em 0;
  }
.twocolleft li {
  padding: 0;
  margin: 0;
  line-height: 1.4em;
  }

.twocolright ul {
  list-style-type: square;
  padding: 0 0 0 20px;
  margin: 0;
  }
.twocolright li {
  padding: 0;
  margin: 0;
  line-height: 1.4em;
  }
.twocolright {
  float: left;
  font-size: .8em;
  width: 425px;
  height: auto;
  margin: 10px 15px 0 10px;
  padding: 0px 20px 10px 10px;
  }

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
    }
.container {
  position: relative;
  }

.category {
  padding-bottom: 1em;
  padding-top: 0;
}
.rightcol {
  width: 240px;
  float: left;
  padding: .5em 25px 15px 15px;
  }
#secChecks {
  float: left;
  padding-top: .5em;
  padding-bottom: .5em;
  width: 280px;
}
.extendright {
  float: left;
  width: 600px;
  padding-left: 1em;
}
.pushright {
  float: right;
  width: 600px;
  padding-left: 1em;
}
#sel1 {
  float: left;
  margin-bottom: 2em;
}
#submit-button:active {
  position:relative;
  top:1px;
}
#contact { 
    width:520px;
    margin-right: 2em;
    margin-bottom: 2em;
    padding:20px;    
    border: 6px solid #BA8E3A;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    
}
#contact h1 {
  font-size: 1.2em;
  text-align: left;
  margin-top: 0;
}

#contact input, 
#contact select, 
#contact textarea, 
#contact label {
    margin-bottom:2px;
}
 
#contact input {
  width: 230px;
  height: 1.5em;
  margin: 0 1.5em 1em 0;
  position: relative;
} 
 
#contact textarea {
    width:480px;
    border: 1px solid #BA8E3A;
    margin-bottom:20px;
    padding:4px;
}
 
#contact input:focus, 
#contact select:focus, 
#contact textarea:focus {
    background-color: #FAF6EF;
}
 
#contact label {
    display:block;
    font-size: .9em;
}
 
#contact .required {
    font-weight:bold;
    color:#F00;    
}
 
#contact #submitBtn {
    width: 120px;
    font-size: 1em;
    background-color:#BA8E3A;
    color:#FFF;
    border:none;
    display:block;
    float:right;
    margin-bottom:0px;
    margin-right:2em;
    
    -moz-border-radius:8px;
}
 
#contact #submitBtn:hover {
    background-color: #A6CFDD;
}
 
.first {
   float: left;
}
.second {
  display: block;
   float: left;
}
.fText {
  font-size: .8em;
}
span {
  padding-right: 10px;
}
#donations {
  float: left;
  display: block;
  padding-top: 1em;
  font-size: .9em;
  line-height: 1.5em;

}
li  {
  list-style-type: none;
  padding-left: 2em;
}
.show_hide {
    display:none;
}
#volunteer {
  font-size: .7em;
  line-height: 1.3em;
  float: right;
  padding-right: 80px;
  margin-top: -2em;
  width: 200px;
}
.items {
    display: none;
}
.smaller {
  font-size: .8em;
  padding-bottom: 1em;
}
#donTitle {
  display: block;
  font-family: 'Alegreya', georgia, "Times New Roman", serif;
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: 5px;
}
.error {
  display: none;
  color:red;
  font-size: .7em;
}