/* Grand Rapids Housing Commission */

html { 
  background-image: url(../img/paper_fibers.png);
  background-size: 100% auto;
  background-color: transparent;
  z-index: 1;
}
article, body, dd, div, dl, dt, figcaption, figure, form, footer, h1, h2, h3, h4, h5, li, nav, ol, p, section, table, th, td, ul, img, form, fieldset, legend {
  margin: 0;
  padding: 0;
  }
a {
  text-decoration: none;
  }
p {
  margin: 0 0 1em 0;
  }
body {
  margin: 0;
  padding: 0px 20px;
  font-family: 'OpenSansRegular', Tahoma, Arial, sans-serif;
  font-size: .9em;
  }
h1 {
  text-align: center;
  padding: 0;
  font-family: 'Alegreya', georgia, "Times New Roman", serif;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.25em;
  margin: 25px 0 15px 0;
  }

h2 {
  text-align: center;
  padding: 0;
  font-family: 'Alegreya', georgia, "Times New Roman", serif;
  font-weight: bold;
  font-size: 1.25em;
  margin: 20px 0 15px 0;
  }
h3 {
  text-align: left;
  margin: 0;
  font-family: 'Alegreya', georgia, "Times New Roman", serif;
   font-size: 1.1em;
  }

.intro {
  font-family: 'OpenSansRegular', tahoma, arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  padding: 0 100px;
  text-align: center;
  }

#wrapper {
  width: 960px;
  margin: 0 auto;
  font-family: 'OpenSansRegular', tahoma, arial, sans-serif;
  font-size: 1em;
  line-height: 1.25em;
  color: black;
  background: white;
  padding: 0;
  overflow: hidden;
  -webkit-box-shadow-left: 6px 0 6px  -6px #394042 , -6px 0 6px  -6px #394042;
  -moz-box-shadow-left: 6px 0 6px  #394042 , -6px 0 6px  #394042;
  box-shadow: 6px 0 6px -6px #394042 , -6px 0 6px -6px #394042;
  z-index: 5;
  }
#content {
  margin: 0 auto;
  }

#toppic {
 padding: 0;
 margin: 0;
 -webkit-box-shadow-left: 6px 0 6px  -6px #274257 , -6px 0 6px  -6px #274257;
  -moz-box-shadow-left: 6px 0 6px  -6px #274257, -6px 0 6px  -6px #274257;
  box-shadow: 6px 0 6px  -6px #274257 , -6px 0 6px  -6px #274257;
 z-index: 2;
 }

#footer {
  width: 990px;
  height: auto;
  bottom: 0;
  margin: 0 0 0 -15px;
  background: #394042;
  text-align: center;
  font-size: .8em;
  color: white;
  padding: 1em 0;
  float: left;
  clear: both;
  -webkit-box-shadow-left: 6px 0 6px  -6px #274257 , -6px 0 6px  -6px #274257;
  -moz-box-shadow-left: 6px 0 6px  -6px #274257 , -6px 0 6px  -6px #274257;
  box-shadow: 6px 0 6px  -6px #274257 , -6px 0 6px  -6px #274257;
  }

#footaddress {
  text-align: left;
  margin-left: 20px;
  margin-right: 0;
  float: left;
  font-size: 0.85em;
  }

.cash {
  float: left;
  width: 240px;
  height: auto;
  margin: 0 20px 20px 20px;
  padding: 0 10px 20px 10px;
  }

.twocolleft {
  float: left;
  clear: right;
  font-size: .8em;
  width: 425px;
  height: auto;
  margin: 10px 5px 0 20px;
  padding: 0px 20px 10px 10px;

  }

.twocolright {
  float: left;
  font-size: .8em;
  width: 425px;
  height: auto;
  margin: 10px 15px 0 10px;
  padding: 0px 20px 10px 10px;
  }


.category {
  padding-bottom: 1em;
  padding-top: 0;
}
.rightcol {
  width: 240px;
  float: left;
  padding: .5em 25px 15px 15px;
  }
#secChecks {
  float: left;
  padding-top: .5em;
  padding-bottom: .5em;
  width: 280px;
}
.extendright {
  float: left;
  width: 600px;
  padding-left: 1em;
}
.pushright {
  float: right;
  width: 600px;
  padding-left: 1em;
}
#sel1 {
  float: left;
  margin-bottom: 2em;
}
#submit-button:active {
  position:relative;
  top:1px;
}
#contact { 
    width:560px;
    margin-right: 2em;
    margin-bottom: 2em;
    padding:20px;    
    border: 6px solid #BA8E3A;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    
}
#contact h1 {
  font-size: 1.2em;
  text-align: left;
  margin-top: 0;
}

#contact input, 
#contact select, 
#contact textarea, 
#contact label {
    margin-bottom:2px;
}
 
#contact input {
  width: 240px;
  height: 1.5em;
  margin: 0 1.5em 1em 0;
  position: relative;
} 
 
 
#contact textarea {
    width:480px;
    border: 1px solid #BA8E3A;
    margin-bottom:20px;
    padding:4px;
}
 
#contact input:focus, 
#contact select:focus, 
#contact textarea:focus {
    background-color: #FAF6EF;
}

#address input {
  width: 500px;
  margin-top: 0;
  padding-top: 0;
}
 
#contact label {
    display:block;
    font-size: .9em;
}
 
#contact .required {
    font-weight:bold;
    color:#F00;    
}
 
#contact #submitBtn {
    width: 120px;
    font-size: 1em;
    background-color:#BA8E3A;
    color:#FFF;
    border:none;
    display:block;
    float:right;
    margin-bottom:0px;
    margin-right:2em;
    
    -moz-border-radius:8px;
}
 
#contact #submitBtn:hover {
    background-color: #A6CFDD;
}

 #contact #resetBtn {
    width: 120px;
    font-size: 1em;
    background-color:#BA8E3A;
    color:#FFF;
    border:none;
    display:block;
    float:right;
    margin-bottom:0px;
    margin-right:2em;
    padding: 1px;
    text-align: center;
    
    -moz-border-radius:8px;
}
 
#contact #resettBtn:hover {
    background-color: #A6CFDD;
}
button {
    width: 220px;
    font-size: 1em;
    background-color:#BA8E3A;
    color:#FFF;
    border:none;
    display:block;
    float:right;
    margin-bottom:1em;
    margin-right:2em;
    padding: 1px;
    text-align: center;
    
    -moz-border-radius:8px;
}
 
button:hover {
    background-color: #A6CFDD;
}
.first {
   float: left;
   padding: 0;
   margin-bottom: -1em;
}
.firstRev {
   float: left;
   padding-top: -1em;
   margin-bottom: -1em;
}
.second {
  
   float: left;
   padding: 0;
  margin: 0;
}
.fText {
  font-size: .8em;
}
span {
  padding-right: 10px;
}
#donations {
  float: left;
  display: block;
  padding-top: 1em;
  font-size: .9em;
  line-height: 1.5em;

}
.show_hide {
    display:none;
}
#volunteer {
  font-size: .7em;
  line-height: 1.3em;
  float: right;
  padding-right: 80px;
  margin-top: -2em;
  width: 200px;
}
.items {
    display: none;
}
.smaller {
  font-size: .8em;
  padding-bottom: 1em;
}
#donTitle {
  display: block;
  font-family: 'Alegreya', georgia, "Times New Roman", serif;
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: 5px;
}
.hint {
  display: none;
  margin-top: -1em;
  color:red;
  font-size: .9em;
}
#hintDiv {
  margin-top: 5px;
  padding-bottom: 5px;
}
.show {
    display: block;
}
.hide {
    display: none;
}
#leftThird {
  float: left;
  margin-right: 1em;
}
#leftThird input {
  width: 110px;
}
#midThird {
  float: left;
  margin-right: 1em;
}
#midThird input {
  width: 250px;
}
#rightThird {
  float: left;
}
#rightThird input {
  width: 60px;
}